$primaryclr: #16223b;
$secondaryclr: #ffffff;

$lightgray: #e5e5e5;
$padding: 10vw;
$mobilepadding: 5vw;

$darkBlue: #141b28;
$lightyellow: #f0a63e;
$yellow: rgba(252, 163, 17, 1);

$peach: rgba(255, 255, 255, 0.5);
$white: rgba(255, 255, 255, 1);
$lightgrey: #eae8fd;
