.loader__component {
	background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
	width: 100vw;
	height: 100vh;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 20vw 0;

	h3 {
		margin-top: 1rem;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
	}

	svg rect {
		stroke-dasharray: 190;
		animation: loading 2s cubic-bezier(0.49, 1.01, 1, 0.38) infinite;
	}

	@keyframes loading {
		from {
			stroke-dashoffset: 0;
		}
		to {
			stroke-dashoffset: 400;
		}
	}
}
