@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.project .project-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #eae8fd;
  margin: 0 5rem 0 27rem;
  height: 100vh;
}

.project .project-container .devNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 30rem;
  max-width: 50rem;
  min-height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .project-container .devNav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eae8fd;
  font-weight: 500;
}

.project .project-container .title {
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
}

.project .project-container .developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.75em 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .project-container .proj-and-np {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .project .project-container {
    margin-left: 0;
    max-width: unset;
  }
}

.project-container .ham-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-container .ham-header button {
  display: none;
  background: none;
  color: #eae8fd;
  width: 5em;
  height: 5em;
  border: none;
  cursor: pointer;
}

.project-container .ham-header button:focus {
  outline: none;
}

@media screen and (max-width: 1023px) {
  .project-container .ham-header {
    background: #141b28;
  }
  .project-container .ham-header button {
    display: inline-block;
  }
  .project-container .ham-header .devNav {
    margin-left: none;
    max-width: none;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.project .dev-profile {
  background: linear-gradient(115.35deg, rgba(255, 255, 255, 0.5) 3.11%, rgba(255, 255, 255, 0.3) 96.88%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 2rem;
  width: 12rem;
  margin: 0 2rem 2rem 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .dev-profile .dev-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 0;
}

.project .dev-profile h4 {
  font-size: 1.25rem;
  line-height: 1;
  text-align: center;
}

.project .dev-profile h5 {
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

.project .dev-profile .dev-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10rem;
  padding: 1rem 2rem;
}

.project .dev-profile .dev-links a {
  background-color: #fca311;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.project .dev-profile .dev-links a i {
  color: #16223b;
}

.project .project-info {
  background: linear-gradient(115.35deg, rgba(255, 255, 255, 0.5) 3.11%, rgba(255, 255, 255, 0.3) 96.88%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 2rem;
  margin: 0 2rem 2rem 0;
  padding: 1.5rem 2rem 2rem 2rem;
  width: clamp(20rem, 40vw, 40rem);
}

.project .project-info .subtitle {
  text-transform: uppercase;
  color: #fca311;
  font-weight: 600;
  margin-top: 0.5rem;
}

.project .project-info .proj-title {
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
}

.project .project-info .github {
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  float: right;
  border-radius: 50%;
  background: #fca311;
}

.project .project-info .github a {
  color: #16223b;
}

.project .non-profit {
  background: linear-gradient(115.35deg, rgba(255, 255, 255, 0.5) 3.11%, rgba(255, 255, 255, 0.3) 96.88%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  margin: 0 2rem 2rem 0;
  padding: 1.5rem;
}

.project .non-profit h4 {
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
}

.project .non-profit img {
  -webkit-filter: drop-shadow(2px 5px 2px #2b2b34);
          filter: drop-shadow(2px 5px 2px #2b2b34);
  height: 4rem;
  width: auto;
}

.project .non-profit .np-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .non-profit .np-links a {
  background-color: #fca311;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.project .non-profit .np-links a i {
  color: #16223b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project {
  background: -webkit-gradient(linear, left top, left bottom, from(#16223b), to(rgba(22, 34, 59, 0.9)));
  background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
}

@media screen and (max-width: 1023px) {
  .project .sidebar {
    display: none;
    height: 100%;
  }
  .project .s-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
  }
  .project .panel-container {
    margin-left: 0;
  }
  .project .p-open {
    margin-left: 22em;
  }
  .project .ham-header {
    width: 100vw;
  }
  .project .h-open {
    display: none;
  }
  .project .c-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .project .sidebar {
    display: none;
    height: 100%;
    width: 100%;
  }
  .project .s-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project .p-open {
    display: none;
  }
  .project .ham-header {
    width: 100%;
  }
}
/*# sourceMappingURL=project.css.map */