// import global styles
@import "../../styles/global.scss";
@import "../../styles/variables";

@import "./header";
@import "./mainpage";
@import "./orgsignup";

.signup {
	min-height: 100vh;
	height: 100%;
	position: relative;
	background-image: url("../img/bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.have-account {
		color: $primaryclr;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 5rem;
	}
}
