.developer__dashboard .panel-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	color: $lightgrey;
	margin-left: 25rem;
	height: 100vh;

	.devNav {
		display: flex;
		margin-left: auto;
		margin-right: 2rem;
		justify-content: space-evenly;
		min-width: 30rem;
		max-width: 50rem;
		min-height: 4rem;
		align-items: center;

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $lightgrey;
			font-weight: 500;
			padding: 0.25rem;
			border-bottom: 2px solid rgba(0, 0, 0, 0);
			transition: border-bottom ease 0.5s;

			&:hover,
			&:focus {
				border-bottom: 2px solid $lightgrey;
			}
		}

		.navlink__icon {
			display: none;
		}
	}

	.curProject,
	.interestProject {
		display: flex;
		flex-direction: column;

		.head {
			font-size: 1.5em;
			line-height: 2em;
			text-transform: uppercase;
			padding: 0 2rem;
		}

		.curProjectDisp,
		.intProjectDisp {
			display: flex;
			flex-direction: row;
			margin: 0 0 2em 2em;
			flex-wrap: wrap;

			.devproject {
				background: rgba(255, 255, 255, 0.35);
				border-radius: 1em;
				margin: 0.5em 1em 0.5em 0;
				display: flex;
				width: 18rem;
				flex-direction: column;
				padding: 1.75rem 1.5rem;
				transition: all ease 0.2s;
				box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

				h3 {
					color: $yellow;
					text-align: center;
					text-transform: capitalize;
					font-size: 1.25rem;
					padding-bottom: 0.5em;
				}

				h4 {
					color: $yellow;
					text-transform: uppercase;
					padding-right: 1em;
				}

				p {
					text-transform: capitalize;
					font-weight: 300;
					font-size: 0.875rem;
					color: #ffe9ca;
				}

				div {
					display: flex;
					padding: 0.375em;
				}

				.description-div,
				.title {
					display: flex;
					flex-direction: column;
					text-align: left;
				}

				.progress {
					display: block;

					progress {
						width: 12em;
						height: 1em;
						margin-right: 1em;
						-webkit-appearance: none;

						&::-webkit-progress-bar {
							background: #ffe9ca;
							color: $darkBlue;
							border-radius: 4em;
						}

						&::-webkit-progress-value {
							background-color: $yellow;
							border-radius: 4em 0 0 4em;
						}
					}
				}

				.goto-btn {
					flex: 1;
					align-self: center;
					margin-top: 2em;

					display: flex;
					justify-content: end;
					align-items: flex-end;

					a {
						cursor: pointer;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: 500;
						font-size: 0.875rem;
						border-radius: 1em;
						padding: 0.5em 2.5em;
						color: $secondaryclr;
						background-color: $yellow;
						box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
						transition: all ease 0.2s;

						&:hover,
						&:focus {
							background-color: $lightgrey;
							color: $primaryclr;
						}
					}
				}

				&:hover,
				&:focus {
					background: rgba(255, 255, 255, 0.4);
					transform: scale(1.05);
				}
			}
		}
	}

	@media screen and (max-width: 1023px) {
		margin-left: 0;
		max-width: unset;

		.curProject {
			margin-top: 1rem;
		}
	}
}

.developer__dashboard .panel-container .ham-header {
	display: flex;

	button {
		display: none;
		background: none;
		color: $lightgrey;
		width: 5em;
		height: 5em;
		border: none;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	@media screen and (max-width: 1023px) {
		background: $darkBlue;

		button {
			display: inline-block;
		}

		.devNav {
			margin-left: 0;
			width: 100%;
			min-width: unset;
			justify-content: space-evenly;
		}
	}
}
