.panel-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	color: $lightgrey;
	margin-left: 25rem;
	height: 100vh;

	.devNav {
		display: flex;
		margin-left: auto;
		margin-right: 2rem;
		justify-content: space-around;
		min-width: 30rem;
		max-width: 50rem;
		min-height: 4rem;
		align-items: center;

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $lightgrey;
			font-weight: 500;
		}
	}

	.curProject,
	.interestProject {
		display: flex;
		flex-direction: column;

		.head {
			font-size: 1.5em;
			line-height: 2em;
			text-transform: uppercase;
			padding: 0 2rem;
		}

		.curProjectDisp,
		.intProjectDisp {
			display: flex;
			flex-direction: row;
			margin: 0 0 2em 2em;
			flex-wrap: wrap;

			.devproject {
				background: rgba(255, 255, 255, 0.4);
				border-radius: 1em;
				margin: 0.5em 1em 0.5em 0;
				display: flex;
				width: 19rem;
				flex-direction: column;
				padding: 2em 1.5em;

				h3,
				h4 {
					color: $yellow;
				}

				h3 {
					text-align: center;
					font-size: 1.5rem;
					padding-bottom: 0.5em;
				}

				h4 {
					text-transform: uppercase;
					padding-right: 1em;
				}

				div {
					display: flex;
					padding: 0.375em;
				}

				.description-div {
					display: flex;
					flex-direction: column;
					text-align: left;
				}

				.progress {
					display: block;

					progress {
						width: 12em;
						height: 1em;
						margin-right: 1em;
						-webkit-appearance: none;

						&::-webkit-progress-bar {
							background: #ffe9ca;
							color: $darkBlue;
							border-radius: 4em;
						}

						&::-webkit-progress-value {
							background-color: $yellow;
							border-radius: 4em 0 0 4em;
						}
					}
				}

				.goto-btn {
					align-self: center;
					position: relative;
					margin-top: 2em;
					padding: 0.5em 2.5em 0.5em 2.5em;
					border-radius: 1em;
					vertical-align: middle;
					text-decoration: none;
					color: $lightgrey;
					background-color: $yellow;
				}
			}
		}
	}

	@media screen and (max-width: 1023px) {
		margin-left: 0;
		max-width: unset;
	}
}

.panel-container .ham-header {
	display: flex;

	button {
		display: none;
		background: none;
		color: $lightgrey;
		width: 5em;
		height: 5em;
		border: none;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}

	@media screen and (max-width: 1023px) {
		background: $darkBlue;

		button {
			display: inline-block;
		}

		.devNav {
			margin-left: none;
			max-width: none;
			width: 100%;
			// flex: 1;
			justify-content: space-evenly;
		}

		.curProjectDisp {
			justify-content: center;
			margin: 0;
			padding: 0;
		}
	}
}
