.sidebar {
    position: fixed;
    background: red;
    color: $white;
    width: 30%;
    height: 100vh;
    .profile {
        display: flex;
        flex-direction: row;
        margin: 2rem;
        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
        .user {
            display: flex;
            flex-direction: column;
            max-width: 15rem;
            * {
                margin-block-start: 0;
                margin-block-end: 0;
            }
            h6 {
                bottom: 0;
                text-align: right;
                font-size: 0.625em;
            }
            h3 {
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
    .achievements {
        background: $lightyellow;
        color: #FF9F1C;
        height: 33em;
        padding-top: 1em;
        padding-right: 2em;
        padding-left: 2em;
        h3 {
            text-transform: uppercase;
            font-size: 1.35em;
            padding-bottom: 0.125em;
        }
        * {
            margin-block-start: 0;
            margin-block-end: 0;
        }
        .xp, .badges, .starproject {
            background: $peach;
            border-radius: 0.5em;
            padding-top: 0.125em;
            padding-right: 1em;
            padding-left: 1em;
            padding-bottom: 1em;
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            h4 {
                font-size: 1.2em;
                text-transform: none;
                font-weight: normal;
                color: $darkBlue;
            }
            progress {
                width: 15em;
                height: 1em;
                -webkit-appearance: none;
                &::-webkit-progress-bar {
                    background: #FFE9CA;
                    color: $darkBlue;
                    border-radius: 4em;
                }
                &::-webkit-progress-value {
                    background-color: $darkBlue;
                    border-radius: 4em 0 0 4em;
                }
            }
        }
        .starproject {
            .proj {
                display: flex;
                flex-direction: row;
                h4, h5 {
                    color: $darkBlue;
                }
                h4 {
                    font-size: 1.2em;
                    font-weight: bold;
                }
                h5 {
                    font-weight: normal;
                    font-size: 1em;
                    display: inline;
                }
            }
        }
    }
    .sign-out {
        display: grid;
        place-items: center;
        height: 4.3em;
        a {
            text-decoration: none;
            padding: 0.75em;
            padding-left: 2em;
            padding-right: 2em;
            background-color: white;
            color: $darkBlue;
            border-radius: 1em;
            font-weight: bold;
        }
    }
}
@media only screen and (max-width: 1073px) {
    progress {
        width: 1 em;
    }
}


