.developer__dashboard .sidebar {
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	background-color: $darkBlue;
	color: $lightgrey;
	width: 25rem;
	transition: all 100ms ease;
	z-index: 2;

	.ham-close {
		display: none;
		background: none;
		width: 4em;
		height: 4em;
		position: absolute;
		right: 0;
		color: white;
		border: none;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	.profile {
		display: flex;
		justify-content: space-evenly;
		align-items: top;
		padding: 2em 1em;

		img {
			border-radius: 50%;
			width: 5em;
			height: 5em;
		}

		.user {
			display: flex;
			flex-direction: column;
			padding-left: 0.5em;

			a {
				align-self: flex-end;
				color: $secondaryclr;
				font-size: 0.75em;
				margin-bottom: 0.5em;
				cursor: pointer;
			}

			h2 {
				line-height: 1;
				font-size: 1.5rem;
				font-weight: 500;
			}

			h3 {
				font-size: 1rem;
				font-weight: 300;
			}
		}
	}

	.achievements {
		display: flex;
		flex-direction: column;
		color: $darkBlue;
		padding: 1em;
		flex: 1;

		.xp,
		.badges,
		.starproject {
			margin-bottom: 2rem;
			display: flex;
			flex-direction: column;
			background-color: $peach;
			border-radius: 10px;
			padding: 1rem;

			h3 {
				color: $yellow;
				text-transform: uppercase;
			}

			h5 {
				color: $darkBlue;
				font-size: 1.3em;
				font-weight: 500;
				padding-bottom: 0.5em;
			}

			.user-progress {
				display: flex;
				align-items: center;

				h5 {
					font-weight: 500;
					font-size: 1em;
					padding: 0;
					margin: 0;
				}
			}

			p {
				text-transform: uppercase;
				font-size: 0.75em;
				font-weight: bold;
				color: rgba(22, 34, 59, 0.6);
			}

			progress {
				flex: 1;
				height: 1em;
				margin-right: 1em;
				-webkit-appearance: none;

				&::-webkit-progress-bar {
					background: #ffe9ca;
					color: $darkBlue;
					border-radius: 4em;
				}

				&::-webkit-progress-value {
					background-color: $darkBlue;
					border-radius: 4em 0 0 4em;
				}
			}

			.proj {
				display: flex;

				h4 {
					font-size: 1.3em;
				}

				h5 {
					padding-top: 0.25em;
					font-size: 1em;
					font-weight: normal;
					text-transform: uppercase;
				}

				.proj-icon {
					align-self: center;
					display: flex;
					justify-content: space-between;
					width: 4rem;
					margin-left: auto;

					a {
						display: grid;
						place-items: center;
						height: 1.75rem;
						width: 1.75rem;
						border-radius: 50%;
						color: $darkBlue;
						background-color: $yellow;
					}
				}
			}

			.no-starred {
				h5 {
					font-size: 0.75em;
					font-weight: bold;
					color: rgba(22, 34, 59, 0.6);
					text-transform: uppercase;
				}

				p {
					font-weight: normal;
					text-transform: none;
				}
			}
		}
	}

	.sign-out {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2em 1em;

		a {
			background-color: $lightgrey;
			color: $darkBlue;
			padding: 0.5em 2em 0.5em 2em;
			border-radius: 1rem;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
