// import global styles
@import "../../styles/global.scss";

// import different pages
@import "./sidebar";
@import "./projectPanel";
@import "./editProfile";

.developer__dashboard {
	background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
	display: flex;
	flex-direction: row;

	@media screen and (max-width: 1023px) {
		.sidebar {
			transform: translateX(-100%);
			height: 100%;
			transition: transform 0.5s ease;

			.ham-close {
				display: unset;
			}
		}

		.s-open {
			transform: translateX(0);
			position: fixed;
		}

		.h-open {
			display: none;
		}

		.c-open {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	@media only screen and (max-width: 500px) {
		.p-open {
			display: none;
		}

		.ham-header {
			width: 100%;
		}

		.devNav {
			.navlink__icon {
				display: inline-block !important;
				font-size: 1rem;
			}

			.navlink__text {
				display: none;
			}
		}
	}
}
