@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.developer__dashboard .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  background-color: #141b28;
  color: #eae8fd;
  width: 25rem;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  z-index: 2;
}

.developer__dashboard .sidebar .ham-close {
  display: none;
  background: none;
  width: 4em;
  height: 4em;
  position: absolute;
  right: 0;
  color: white;
  border: none;
  cursor: pointer;
}

.developer__dashboard .sidebar .ham-close:focus {
  outline: none;
}

.developer__dashboard .sidebar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding: 2em 1em;
}

.developer__dashboard .sidebar .profile img {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.developer__dashboard .sidebar .profile .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.5em;
}

.developer__dashboard .sidebar .profile .user a {
  text-align: right;
  color: #ffffff;
  font-size: 0.75em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.developer__dashboard .sidebar .profile .user a:hover {
  color: #fca311;
}

.developer__dashboard .sidebar .profile .user h2 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 500;
}

.developer__dashboard .sidebar .profile .user h3 {
  font-size: 1rem;
  font-weight: 300;
}

.developer__dashboard .sidebar .achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #141b28;
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.developer__dashboard .sidebar .achievements .xp,
.developer__dashboard .sidebar .achievements .badges,
.developer__dashboard .sidebar .achievements .starproject,
.developer__dashboard .sidebar .achievements .description {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1rem;
}

.developer__dashboard .sidebar .achievements .xp h3,
.developer__dashboard .sidebar .achievements .badges h3,
.developer__dashboard .sidebar .achievements .starproject h3,
.developer__dashboard .sidebar .achievements .description h3 {
  color: #fca311;
  text-transform: uppercase;
}

.developer__dashboard .sidebar .achievements .xp h5,
.developer__dashboard .sidebar .achievements .badges h5,
.developer__dashboard .sidebar .achievements .starproject h5,
.developer__dashboard .sidebar .achievements .description h5 {
  color: #141b28;
  font-size: 1.3em;
  font-weight: 500;
  padding-bottom: 0.5em;
}

.developer__dashboard .sidebar .achievements .xp .user-progress,
.developer__dashboard .sidebar .achievements .badges .user-progress,
.developer__dashboard .sidebar .achievements .starproject .user-progress,
.developer__dashboard .sidebar .achievements .description .user-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developer__dashboard .sidebar .achievements .xp .user-progress h5,
.developer__dashboard .sidebar .achievements .badges .user-progress h5,
.developer__dashboard .sidebar .achievements .starproject .user-progress h5,
.developer__dashboard .sidebar .achievements .description .user-progress h5 {
  font-weight: 500;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.developer__dashboard .sidebar .achievements .xp p,
.developer__dashboard .sidebar .achievements .badges p,
.developer__dashboard .sidebar .achievements .starproject p,
.developer__dashboard .sidebar .achievements .description p {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  color: rgba(22, 34, 59, 0.6);
}

.developer__dashboard .sidebar .achievements .xp progress,
.developer__dashboard .sidebar .achievements .badges progress,
.developer__dashboard .sidebar .achievements .starproject progress,
.developer__dashboard .sidebar .achievements .description progress {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1em;
  margin-right: 1em;
  -webkit-appearance: none;
}

.developer__dashboard .sidebar .achievements .xp progress::-webkit-progress-bar,
.developer__dashboard .sidebar .achievements .badges progress::-webkit-progress-bar,
.developer__dashboard .sidebar .achievements .starproject progress::-webkit-progress-bar,
.developer__dashboard .sidebar .achievements .description progress::-webkit-progress-bar {
  background: #ffe9ca;
  color: #141b28;
  border-radius: 4em;
}

.developer__dashboard .sidebar .achievements .xp progress::-webkit-progress-value,
.developer__dashboard .sidebar .achievements .badges progress::-webkit-progress-value,
.developer__dashboard .sidebar .achievements .starproject progress::-webkit-progress-value,
.developer__dashboard .sidebar .achievements .description progress::-webkit-progress-value {
  background-color: #141b28;
  border-radius: 4em 0 0 4em;
}

.developer__dashboard .sidebar .achievements .xp .proj,
.developer__dashboard .sidebar .achievements .badges .proj,
.developer__dashboard .sidebar .achievements .starproject .proj,
.developer__dashboard .sidebar .achievements .description .proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developer__dashboard .sidebar .achievements .xp .proj h4,
.developer__dashboard .sidebar .achievements .badges .proj h4,
.developer__dashboard .sidebar .achievements .starproject .proj h4,
.developer__dashboard .sidebar .achievements .description .proj h4 {
  font-size: 1.3em;
}

.developer__dashboard .sidebar .achievements .xp .proj h5,
.developer__dashboard .sidebar .achievements .badges .proj h5,
.developer__dashboard .sidebar .achievements .starproject .proj h5,
.developer__dashboard .sidebar .achievements .description .proj h5 {
  padding-top: 0.25em;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

.developer__dashboard .sidebar .achievements .xp .proj-icon,
.developer__dashboard .sidebar .achievements .xp .links,
.developer__dashboard .sidebar .achievements .badges .proj-icon,
.developer__dashboard .sidebar .achievements .badges .links,
.developer__dashboard .sidebar .achievements .starproject .proj-icon,
.developer__dashboard .sidebar .achievements .starproject .links,
.developer__dashboard .sidebar .achievements .description .proj-icon,
.developer__dashboard .sidebar .achievements .description .links {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4rem;
  margin-left: auto;
}

.developer__dashboard .sidebar .achievements .xp .proj-icon a,
.developer__dashboard .sidebar .achievements .xp .links a,
.developer__dashboard .sidebar .achievements .badges .proj-icon a,
.developer__dashboard .sidebar .achievements .badges .links a,
.developer__dashboard .sidebar .achievements .starproject .proj-icon a,
.developer__dashboard .sidebar .achievements .starproject .links a,
.developer__dashboard .sidebar .achievements .description .proj-icon a,
.developer__dashboard .sidebar .achievements .description .links a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  color: #141b28;
  background-color: #fca311;
}

.developer__dashboard .sidebar .achievements .xp .bio,
.developer__dashboard .sidebar .achievements .badges .bio,
.developer__dashboard .sidebar .achievements .starproject .bio,
.developer__dashboard .sidebar .achievements .description .bio {
  font-weight: normal;
  text-transform: none;
}

.developer__dashboard .sidebar .achievements .xp .no-starred h5,
.developer__dashboard .sidebar .achievements .badges .no-starred h5,
.developer__dashboard .sidebar .achievements .starproject .no-starred h5,
.developer__dashboard .sidebar .achievements .description .no-starred h5 {
  font-size: 0.75em;
  font-weight: bold;
  color: rgba(22, 34, 59, 0.6);
  text-transform: uppercase;
}

.developer__dashboard .sidebar .achievements .xp .no-starred p,
.developer__dashboard .sidebar .achievements .badges .no-starred p,
.developer__dashboard .sidebar .achievements .starproject .no-starred p,
.developer__dashboard .sidebar .achievements .description .no-starred p {
  font-weight: normal;
  text-transform: none;
}

.developer__dashboard .sidebar .sign-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 1em;
}

.developer__dashboard .sidebar .sign-out a {
  background-color: #eae8fd;
  color: #141b28;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.developer__dashboard .sidebar .sign-out a:hover {
  background-color: #fca311;
}

.developer__dashboard .panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eae8fd;
  margin-left: 25rem;
  height: 100vh;
}

.developer__dashboard .panel-container .devNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 30rem;
  max-width: 50rem;
  min-height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developer__dashboard .panel-container .devNav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eae8fd;
  font-weight: 500;
  padding: 0.25rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom ease 0.5s;
  transition: border-bottom ease 0.5s;
}

.developer__dashboard .panel-container .devNav a:hover, .developer__dashboard .panel-container .devNav a:focus {
  border-bottom: 2px solid #eae8fd;
}

.developer__dashboard .panel-container .devNav .navlink__icon {
  display: none;
}

.developer__dashboard .panel-container .curProject,
.developer__dashboard .panel-container .interestProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.developer__dashboard .panel-container .curProject .head,
.developer__dashboard .panel-container .interestProject .head {
  font-size: 1.5em;
  line-height: 2em;
  text-transform: uppercase;
  padding: 0 2rem;
}

.developer__dashboard .panel-container .curProject .curProjectDisp,
.developer__dashboard .panel-container .curProject .intProjectDisp,
.developer__dashboard .panel-container .interestProject .curProjectDisp,
.developer__dashboard .panel-container .interestProject .intProjectDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 2em 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 1em;
  margin: 0.5em 1em 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.75rem 1.5rem;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject h3,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject h3,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject h3,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject h3 {
  color: #fca311;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.25rem;
  padding-bottom: 0.5em;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject h4,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject h4,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject h4,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject h4 {
  color: #fca311;
  text-transform: uppercase;
  padding-right: 1em;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject p,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject p,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject p,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject p {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.875rem;
  color: #ffe9ca;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject div,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject div,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject div,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375em;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .description-div,
.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .title,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .description-div,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .title,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .description-div,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .title,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .description-div,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .progress,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .progress,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .progress,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .progress {
  display: block;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .progress progress,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .progress progress,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .progress progress,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .progress progress {
  width: 12em;
  height: 1em;
  margin-right: 1em;
  -webkit-appearance: none;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .progress progress::-webkit-progress-bar,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .progress progress::-webkit-progress-bar,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .progress progress::-webkit-progress-bar,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .progress progress::-webkit-progress-bar {
  background: #ffe9ca;
  color: #141b28;
  border-radius: 4em;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .progress progress::-webkit-progress-value,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .progress progress::-webkit-progress-value,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .progress progress::-webkit-progress-value,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .progress progress::-webkit-progress-value {
  background-color: #fca311;
  border-radius: 4em 0 0 4em;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .goto-btn,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .goto-btn,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .goto-btn,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .goto-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .goto-btn a,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .goto-btn a,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .goto-btn a,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .goto-btn a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 1em;
  padding: 0.5em 2.5em;
  color: #ffffff;
  background-color: #fca311;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject .goto-btn a:hover, .developer__dashboard .panel-container .curProject .curProjectDisp .devproject .goto-btn a:focus,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .goto-btn a:hover,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject .goto-btn a:focus,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .goto-btn a:hover,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject .goto-btn a:focus,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .goto-btn a:hover,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject .goto-btn a:focus {
  background-color: #eae8fd;
  color: #16223b;
}

.developer__dashboard .panel-container .curProject .curProjectDisp .devproject:hover, .developer__dashboard .panel-container .curProject .curProjectDisp .devproject:focus,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject:hover,
.developer__dashboard .panel-container .curProject .intProjectDisp .devproject:focus,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject:hover,
.developer__dashboard .panel-container .interestProject .curProjectDisp .devproject:focus,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject:hover,
.developer__dashboard .panel-container .interestProject .intProjectDisp .devproject:focus {
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1023px) {
  .developer__dashboard .panel-container {
    margin-left: 0;
    max-width: unset;
  }
  .developer__dashboard .panel-container .curProject {
    margin-top: 1rem;
  }
}

.developer__dashboard .panel-container .ham-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developer__dashboard .panel-container .ham-header button {
  display: none;
  background: none;
  color: #eae8fd;
  width: 5em;
  height: 5em;
  border: none;
  cursor: pointer;
}

.developer__dashboard .panel-container .ham-header button:focus {
  outline: none;
}

@media screen and (max-width: 1023px) {
  .developer__dashboard .panel-container .ham-header {
    background: #141b28;
  }
  .developer__dashboard .panel-container .ham-header button {
    display: inline-block;
  }
  .developer__dashboard .panel-container .ham-header .devNav {
    margin-left: 0;
    width: 100%;
    min-width: unset;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.developer__dashboard .dev__edit-profile {
  min-width: 50vw;
}

.developer__dashboard .dev__edit-profile input,
.developer__dashboard .dev__edit-profile textarea {
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 0.875rem;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}

.developer__dashboard .dev__edit-profile input:focus,
.developer__dashboard .dev__edit-profile textarea:focus {
  border: 2px solid #16223b;
}

.developer__dashboard .dev__edit-profile textarea {
  display: block;
  min-height: 5rem;
}

.developer__dashboard .dev__edit-profile label {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
}

.developer__dashboard .dev__edit-profile button {
  background: linear-gradient(329.74deg, #16223b 18.42%, rgba(22, 34, 59, 0.86) 81.58%);
  border-radius: 2rem;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.developer__dashboard .dev__edit-profile .error {
  color: red;
  font-size: 0.75rem;
  padding-bottom: 0.75rem;
}

.developer__dashboard .dev__edit-profile .form-error {
  font-size: 1rem;
  text-align: center;
}

.developer__dashboard .dev__edit-profile .edit-profile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.developer__dashboard .dev__edit-profile .edit-profile__buttons .edit-profile__cancel {
  background: linear-gradient(329.74deg, rgba(139, 30, 30, 0.86) 18.42%, rgba(139, 59, 30, 0.86) 81.58%);
}

.developer__dashboard {
  background: -webkit-gradient(linear, left top, left bottom, from(#16223b), to(rgba(22, 34, 59, 0.9)));
  background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .developer__dashboard .sidebar {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .developer__dashboard .sidebar .ham-close {
    display: unset;
  }
  .developer__dashboard .s-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  .developer__dashboard .h-open {
    display: none;
  }
  .developer__dashboard .c-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .developer__dashboard .p-open {
    display: none;
  }
  .developer__dashboard .ham-header {
    width: 100%;
  }
  .developer__dashboard .devNav .navlink__icon {
    display: inline-block !important;
    font-size: 1rem;
  }
  .developer__dashboard .devNav .navlink__text {
    display: none;
  }
}
/*# sourceMappingURL=dev.css.map */