// import global styles
@import "../../styles/global.scss";

// import different pages
@import "./sidebar";
@import "./projectPanel";
@import "./editProfile";
@import "./project";

.developer__dashboard {
	background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
	display: flex;
	flex-direction: row;

	@media screen and (max-width: 1023px) {
		.sidebar {
			transform: translateX(-100%);
			height: 100%;
			transition: transform 0.5s ease;

			.ham-close {
				display: unset;
			}
		}

		.s-open {
			transform: translateX(0);
			position: fixed;
		}

		.h-open {
			display: none;
		}

		.c-open {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	@media only screen and (max-width: 500px) {
		.p-open {
			display: none;
		}

		.ham-header {
			width: 100%;
		}

		.devNav {
			.navlink__icon {
				display: inline-block !important;
				font-size: 1rem;
			}

			.navlink__text {
				display: none;
			}
		}
	}
}

.dev__loader {
	background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
	width: 100vw;
	height: 100vh;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 20vw 0;

	h3 {
		margin-top: 1rem;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
	}

	svg rect {
		stroke-dasharray: 190;
		animation: loading 2s cubic-bezier(0.49, 1.01, 1, 0.38) infinite;
	}

	@keyframes loading {
		from {
			stroke-dashoffset: 0;
		}
		to {
			stroke-dashoffset: 400;
		}
	}
}
