@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  background-color: #141b28;
  color: #eae8fd;
  width: 25em;
}

.sidebar .ham-close {
  display: none;
  background: none;
  width: 4em;
  height: 4em;
  position: absolute;
  right: 0;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar .ham-close:focus {
  outline: none;
}

.sidebar .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em;
}

.sidebar .profile img {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.sidebar .profile .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.5em;
}

.sidebar .profile .user a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffffff;
  font-size: 0.75rem;
}

.sidebar .profile .user h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.sidebar .profile .user h3 {
  font-size: 1rem;
  font-weight: 300;
}

.sidebar .achievements {
  background-color: #f0a63e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
  color: #141b28;
  padding: 5%;
}

.sidebar .achievements .xp,
.sidebar .achievements .badges,
.sidebar .achievements .starproject {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1rem;
}

.sidebar .achievements .xp h3,
.sidebar .achievements .badges h3,
.sidebar .achievements .starproject h3 {
  color: #fca311;
  padding-bottom: 0.5rem;
}

.sidebar .achievements .xp h5,
.sidebar .achievements .badges h5,
.sidebar .achievements .starproject h5 {
  color: #141b28;
  font-size: 1.3em;
  font-weight: 500;
  padding-bottom: 0.5em;
}

.sidebar .achievements .xp .user-progress,
.sidebar .achievements .badges .user-progress,
.sidebar .achievements .starproject .user-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .achievements .xp .user-progress h5,
.sidebar .achievements .badges .user-progress h5,
.sidebar .achievements .starproject .user-progress h5 {
  font-weight: 500;
  font-size: 1em;
}

.sidebar .achievements .xp p,
.sidebar .achievements .badges p,
.sidebar .achievements .starproject p {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  color: rgba(22, 34, 59, 0.6);
}

.sidebar .achievements .xp progress,
.sidebar .achievements .badges progress,
.sidebar .achievements .starproject progress {
  width: 12em;
  height: 1em;
  margin-right: 1em;
  -webkit-appearance: none;
}

.sidebar .achievements .xp progress::-webkit-progress-bar,
.sidebar .achievements .badges progress::-webkit-progress-bar,
.sidebar .achievements .starproject progress::-webkit-progress-bar {
  background: #ffe9ca;
  color: #141b28;
  border-radius: 4em;
}

.sidebar .achievements .xp progress::-webkit-progress-value,
.sidebar .achievements .badges progress::-webkit-progress-value,
.sidebar .achievements .starproject progress::-webkit-progress-value {
  background-color: #141b28;
  border-radius: 4em 0 0 4em;
}

.sidebar .achievements .xp .proj,
.sidebar .achievements .badges .proj,
.sidebar .achievements .starproject .proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .achievements .xp .proj h4,
.sidebar .achievements .badges .proj h4,
.sidebar .achievements .starproject .proj h4 {
  font-size: 1.3em;
}

.sidebar .achievements .xp .proj h5,
.sidebar .achievements .badges .proj h5,
.sidebar .achievements .starproject .proj h5 {
  padding-top: 0.25em;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

.sidebar .achievements .xp .proj .proj-icon,
.sidebar .achievements .badges .proj .proj-icon,
.sidebar .achievements .starproject .proj .proj-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sidebar .achievements .xp .proj .proj-icon a,
.sidebar .achievements .badges .proj .proj-icon a,
.sidebar .achievements .starproject .proj .proj-icon a {
  margin-left: 0.25em;
  padding: 0.25em;
  color: #141b28;
  background-color: #fca311;
  border-radius: 50%;
}

.sidebar .sign-out {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sign-out a {
  background-color: #eae8fd;
  color: #141b28;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 1rem;
  text-decoration: none;
}

.panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eae8fd;
}

.panel-container .devNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 30rem;
  max-width: 50rem;
  min-height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel-container .devNav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #eae8fd;
  font-weight: 500;
}

.panel-container .curProject,
.panel-container .interestProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30%;
}

.panel-container .curProject .head,
.panel-container .interestProject .head {
  font-size: 1.5em;
  line-height: 2em;
  text-transform: uppercase;
}

.panel-container .curProject .curProjectDisp .devproject,
.panel-container .curProject .intProjectDisp .devproject,
.panel-container .interestProject .curProjectDisp .devproject,
.panel-container .interestProject .intProjectDisp .devproject {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
}

.panel-container .curProject .curProjectDisp .devproject h3,
.panel-container .curProject .curProjectDisp .devproject h4,
.panel-container .curProject .intProjectDisp .devproject h3,
.panel-container .curProject .intProjectDisp .devproject h4,
.panel-container .interestProject .curProjectDisp .devproject h3,
.panel-container .interestProject .curProjectDisp .devproject h4,
.panel-container .interestProject .intProjectDisp .devproject h3,
.panel-container .interestProject .intProjectDisp .devproject h4 {
  color: #fca311;
}

.panel-container .curProject .curProjectDisp .devproject h3,
.panel-container .curProject .intProjectDisp .devproject h3,
.panel-container .interestProject .curProjectDisp .devproject h3,
.panel-container .interestProject .intProjectDisp .devproject h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}

.panel-container .curProject .curProjectDisp .devproject h4,
.panel-container .curProject .intProjectDisp .devproject h4,
.panel-container .interestProject .curProjectDisp .devproject h4,
.panel-container .interestProject .intProjectDisp .devproject h4 {
  text-transform: uppercase;
  padding-right: 1em;
}

.panel-container .curProject .curProjectDisp .devproject div,
.panel-container .curProject .intProjectDisp .devproject div,
.panel-container .interestProject .curProjectDisp .devproject div,
.panel-container .interestProject .intProjectDisp .devproject div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375em;
}

.panel-container .curProject .curProjectDisp .devproject .description-div,
.panel-container .curProject .intProjectDisp .devproject .description-div,
.panel-container .interestProject .curProjectDisp .devproject .description-div,
.panel-container .interestProject .intProjectDisp .devproject .description-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.panel-container .curProject .curProjectDisp .devproject .progress,
.panel-container .curProject .intProjectDisp .devproject .progress,
.panel-container .interestProject .curProjectDisp .devproject .progress,
.panel-container .interestProject .intProjectDisp .devproject .progress {
  display: block;
}

.panel-container .curProject .curProjectDisp .devproject .progress progress,
.panel-container .curProject .intProjectDisp .devproject .progress progress,
.panel-container .interestProject .curProjectDisp .devproject .progress progress,
.panel-container .interestProject .intProjectDisp .devproject .progress progress {
  width: 12em;
  height: 1em;
  margin-right: 1em;
  -webkit-appearance: none;
}

.panel-container .curProject .curProjectDisp .devproject .progress progress::-webkit-progress-bar,
.panel-container .curProject .intProjectDisp .devproject .progress progress::-webkit-progress-bar,
.panel-container .interestProject .curProjectDisp .devproject .progress progress::-webkit-progress-bar,
.panel-container .interestProject .intProjectDisp .devproject .progress progress::-webkit-progress-bar {
  background: #ffe9ca;
  color: #141b28;
  border-radius: 4em;
}

.panel-container .curProject .curProjectDisp .devproject .progress progress::-webkit-progress-value,
.panel-container .curProject .intProjectDisp .devproject .progress progress::-webkit-progress-value,
.panel-container .interestProject .curProjectDisp .devproject .progress progress::-webkit-progress-value,
.panel-container .interestProject .intProjectDisp .devproject .progress progress::-webkit-progress-value {
  background-color: #fca311;
  border-radius: 4em 0 0 4em;
}

.panel-container .curProject .curProjectDisp .devproject .goto-btn,
.panel-container .curProject .intProjectDisp .devproject .goto-btn,
.panel-container .interestProject .curProjectDisp .devproject .goto-btn,
.panel-container .interestProject .intProjectDisp .devproject .goto-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-top: 2em;
  padding: 0.5em 2.5em 0.5em 2.5em;
  border-radius: 1em;
  vertical-align: middle;
  text-decoration: none;
  color: #eae8fd;
  background-color: #fca311;
}

.ham-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ham-header button {
  display: none;
  background: none;
  color: #eae8fd;
  width: 5em;
  height: 5em;
  border: none;
  cursor: pointer;
}

.ham-header button:focus {
  outline: none;
}

@media screen and (max-width: 1023px) {
  .ham-header {
    background: #141b28;
  }
  .ham-header button {
    display: inline-block;
  }
  .ham-header .devNav {
    margin-left: none;
    max-width: none;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dev {
  background: -webkit-gradient(linear, left top, left bottom, from(#16223b), to(rgba(22, 34, 59, 0.9)));
  background: linear-gradient(180deg, #16223b 0%, rgba(22, 34, 59, 0.9) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .dev .sidebar {
    display: none;
    height: 100%;
  }
  .dev .s-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
  }
  .dev .panel-container {
    margin-left: 0;
  }
  .dev .p-open {
    margin-left: 22em;
  }
  .dev .ham-header {
    width: 100vw;
  }
  .dev .h-open {
    display: none;
  }
  .dev .c-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .dev .sidebar {
    display: none;
    height: 100%;
    width: 100%;
  }
  .dev .s-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dev .p-open {
    display: none;
  }
  .dev .ham-header {
    width: 100%;
  }
}
/*# sourceMappingURL=dev.css.map */