.orgsignin {
	background: linear-gradient(
		115.35deg,
		rgba(255, 255, 255, 0.6) 3.11%,
		rgba(255, 255, 255, 0.3) 96.88%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(40px);
	border-radius: 50px;
	padding: 1.5rem 3rem;
	margin: 2rem 10vw;

	& > * {
		color: $primaryclr;
	}

	.back-btn {
		float: left;
		font-size: 1.5rem;
		cursor: pointer;
	}

	.title {
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}

	input {
		display: block;
		background: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 28px;
		border: none;
		font-size: 0.875rem;
		width: 100%;
		padding: 0.5rem 1rem;
	}

	label {
		font-weight: 500;
		font-size: 1rem;
		line-height: 1;
	}

	button {
		background: linear-gradient(329.74deg, $primaryclr 18.42%, rgba(22, 34, 59, 0.86) 81.58%);
		border-radius: 2rem;
		color: $secondaryclr;
		border: none;
		padding: 0.5rem 1rem;
		justify-self: center;
		font-size: 1rem;
		font-weight: 500;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	.error {
		color: red;
		padding-bottom: 0.75rem;
		font-size: 0.75rem;
	}

	.form-error {
		font-size: 1rem;
		text-align: center;
	}
}
