@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signin_header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin_header .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin_header .nav .btn {
  color: #16223b;
  font-weight: 400;
  border: none;
}

.signin_header .nav .signup-btn {
  border: 2px solid #16223b;
  border-radius: 2rem;
  padding: 0.2rem 0.75rem;
}

.signin_header .heading {
  text-align: center;
}

.signin_header .have-account {
  position: fixed;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5rem;
  color: #16223b;
}

.main_signin .heading {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.9;
}

.main_signin .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 15vw;
}

.main_signin .choice__card {
  z-index: 2;
  background: linear-gradient(115.35deg, rgba(255, 255, 255, 0.6) 3.11%, rgba(255, 255, 255, 0.3) 96.88%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 53px;
  margin: 1rem 0;
  padding: 1rem 4rem;
  color: #16223b;
  text-align: center;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13rem 1.5rem 5rem;
      grid-template-rows: 13rem 1.5rem 5rem;
}

.main_signin .choice__card img {
  place-self: center;
  height: 7rem;
  width: auto;
}

.main_signin .choice__card .ima {
  font-weight: 500;
  font-size: 1.25rem;
  opacity: 0.9;
  line-height: 1;
}

.main_signin .choice__card .title {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
}

@media screen and (max-width: 1000px) {
  .main_signin .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_signin .choice__card {
    width: 20rem;
  }
}

.orgsignin {
  background: linear-gradient(115.35deg, rgba(255, 255, 255, 0.6) 3.11%, rgba(255, 255, 255, 0.3) 96.88%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 50px;
  padding: 1.5rem 3rem;
  margin: 2rem 10vw;
}

.orgsignin > * {
  color: #16223b;
}

.orgsignin .back-btn {
  float: left;
  font-size: 1.5rem;
  cursor: pointer;
}

.orgsignin .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.orgsignin input {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  border: none;
  font-size: 0.875rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.orgsignin label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.orgsignin button {
  background: linear-gradient(329.74deg, #16223b 18.42%, rgba(22, 34, 59, 0.86) 81.58%);
  border-radius: 2rem;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.orgsignin .error {
  color: red;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
}

.orgsignin .form-error {
  font-size: 1rem;
  text-align: center;
}

.signin {
  min-height: 100vh;
  height: 100%;
  position: relative;
  background-image: url("../img/bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signin .have-account {
  color: #16223b;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}
/*# sourceMappingURL=signin.css.map */