@import "../../styles/variables";

a {
	text-decoration: none;
}

.header {
	& > * {
		color: $primaryclr;
	}

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 5rem;
		padding: 2rem $padding;

		.logo {
			flex: 1;
			@include noselect;
			cursor: pointer;
		}

		.navlinks {
			// min-width: 40rem;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;

			& > * {
				@include noselect;
				cursor: pointer;
			}
		}

		.btn {
			border: 2px solid $primaryclr;
			color: $primaryclr;
			padding: 0.3rem 0.8rem;
			border-radius: 2rem;
		}

		.signup-btn {
			color: $secondaryclr;
			background: $primaryclr;
		}
	}

	.info {
		padding: 1rem $padding;
		display: flex;
		align-items: center;

		img {
			padding: 2rem 0 0 7rem;
		}

		h1 {
			margin-top: 0.5rem;
			font-size: 40px;
			font-weight: bold;
			line-height: 1.2;
		}
		h2 {
			font-weight: normal;
			font-size: 20px;
			line-height: 120%;
		}
		p {
			margin: 1rem 0 2rem 0;
			font-size: 16px;
			font-weight: 300;
			line-height: 130%;
		}

		.text {
			position: relative;
		}

		// big ol circle
		.text::before {
			position: absolute;
			content: "";
			height: 500px;
			width: 500px;
			border-radius: 50%;
			background: radial-gradient(
				32.45% 31.77% at 75.29% 38.83%,
				rgba(255, 173, 62, 0.71) 10%,
				rgba(255, 159, 28, 0) 100%
			);
			z-index: -1;
			left: -60%;
			top: 20%;
		}
	}

	.join-btn {
		border: 2px solid $primaryclr;
		padding: 0.3rem 0.8rem;
		border-radius: 2rem;
		color: $secondaryclr;
		background: $primaryclr;
		font-weight: 500;
	}

	.explore {
		position: relative;

		background-size: cover;
		background-image: url("../img/wave.svg");
		background-repeat: no-repeat;
	}

	.features {
		padding: 2rem 10vw;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	}

	.projects {
		padding: 2rem 10vw;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	.feature {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 2;

		.icon {
			@include noselect;
			background: $lightgray;
			height: 10rem;
			width: 10rem;
			display: grid;
			place-items: center;
			border-radius: 50%;

			img {
				transform: scale(0.8);
			}
		}

		p {
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.5rem;
			text-align: center;
			text-transform: uppercase;
			color: $secondaryclr;
			max-width: 15rem;
			padding-top: 1rem;
		}
	}

	.project-title {
		position: relative;
		z-index: 2;
		color: white;
		padding: 3rem 10vw 0 10vw;
		width: 100%;
		text-align: center;

		font-weight: bold;
		font-size: 2rem;
		opacity: 0.9;
		text-transform: uppercase;
	}

	.project {
		z-index: 2;
		padding: 2rem;
		background: linear-gradient(
			135.45deg,
			rgba(255, 255, 255, 0.84) 73.87%,
			rgba(255, 255, 255, 0.7) 100%
		);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(15px);
		border-radius: 22px;

		h3 {
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 1.2;
			text-align: center;
		}

		h4 {
			font-family: "Roboto";
			font-weight: 500;
			font-size: 1rem;
			text-align: center;
			font-variant: small-caps;
			padding-top: 1rem;
		}

		h5 {
			text-align: left;
			font-weight: 600;
			font-size: 0.875rem;
			text-transform: uppercase;
			padding-top: 1rem;
		}

		p {
			text-align: justify;
			font-weight: 300;
			font-size: 0.75rem;
			line-height: 1.2;
		}
	}

	@media screen and (max-width: 1250px) {
		.abstract {
			display: none;
		}

		.hamburger {
			cursor: pointer;
			z-index: 20;
		}

		.line {
			width: 30px;
			height: 3px;
			margin: 5px;
			background: $primaryclr;
			transition: all ease 0.5s;
		}

		.navlinks {
			clip-path: circle(0% at 90% -10%);
			-webkit-clip-path: circle(0% at 90% -10%);
			position: fixed;
			// background: linear-gradient(rgb(40, 68, 128) 18.42%, $primaryclr 100%);
			background: $primaryclr;
			color: white;
			height: 100vh;
			width: 100vw;
			left: 0;
			top: 0;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			padding: 20vh 0;
			transition: clip-path 1s ease;
			pointer-events: none;
			z-index: 3;

			.btn {
				border: 2px solid $secondaryclr;
				color: $secondaryclr;
				padding: 0.3rem 0.8rem;
				border-radius: 2rem;
			}

			.signup-btn {
				color: $primaryclr;
				background: $secondaryclr;
			}

			.link {
				opacity: 0;

				&:nth-child(1) {
					transition: opacity 0.5s ease;
				}

				&:nth-child(2) {
					transition: opacity 0.5s ease 0.1s;
				}

				&:nth-child(3) {
					transition: opacity 0.5s ease 0.2s;
				}
				&:nth-child(4) {
					transition: opacity 0.5s ease 0.3s;
				}
				&:nth-child(5) {
					transition: opacity 0.5s ease 0.4s;
				}
				&:nth-child(6) {
					transition: opacity 0.5s ease 0.5s;
				}
			}
		}

		.open {
			clip-path: circle(160% at 90% -10%);
			-webkit-clip-path: circle(160% at 90% -10%);
			pointer-events: all;

			.link {
				opacity: 1;
			}

			.line {
				z-index: 4;
				background: $secondaryclr;
				&:nth-child(1) {
					transform: rotate(45deg) translateY(5px);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translateY(-5px);
				}
			}
		}
	}
}
