@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.np__dashboard .np__createProject {
  min-width: 40vw;
}

.np__dashboard .np__createProject input,
.np__dashboard .np__createProject textarea {
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 0.875rem;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}

.np__dashboard .np__createProject input:focus,
.np__dashboard .np__createProject textarea:focus {
  border: 2px solid #16223b;
}

.np__dashboard .np__createProject textarea {
  display: block;
  min-height: 5rem;
}

.np__dashboard .np__createProject label {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
  color: #16223b;
}

.np__dashboard .np__createProject .error {
  color: red;
  font-size: 0.75rem;
  padding-bottom: 0.75rem;
}

.np__dashboard .np__createProject .form-error {
  font-size: 1rem;
  text-align: center;
}

.np__dashboard .np__createProject .edit-profile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.np__dashboard .np__createProject .edit-profile__buttons button {
  background: linear-gradient(329.74deg, #16223b 18.42%, rgba(22, 34, 59, 0.86) 81.58%);
  border-radius: 2rem;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.np__dashboard .np__createProject .edit-profile__buttons button:hover {
  background: linear-gradient(329.74deg, #202a3f 18.42%, rgba(52, 64, 91, 0.86) 81.58%);
}

.np__dashboard .np__createProject .edit-profile__buttons .edit-profile__cancel {
  background: linear-gradient(329.74deg, rgba(139, 30, 30, 0.86) 18.42%, rgba(139, 59, 30, 0.86) 81.58%);
}

.np__dashboard .np__createProject .edit-profile__buttons .edit-profile__cancel:hover {
  background: linear-gradient(329.74deg, rgba(138, 62, 62, 0.86) 18.42%, rgba(138, 85, 66, 0.86) 81.58%);
}

.np__dashboard .np__editProfile {
  min-width: 40vw;
}

.np__dashboard .np__editProfile input,
.np__dashboard .np__editProfile textarea {
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 0.875rem;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}

.np__dashboard .np__editProfile input:focus,
.np__dashboard .np__editProfile textarea:focus {
  border: 2px solid #16223b;
}

.np__dashboard .np__editProfile textarea {
  display: block;
  min-height: 5rem;
}

.np__dashboard .np__editProfile label {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
  color: #16223b;
}

.np__dashboard .np__editProfile .error {
  color: red;
  font-size: 0.75rem;
  padding-bottom: 0.75rem;
}

.np__dashboard .np__editProfile .form-error {
  font-size: 1rem;
  text-align: center;
}

.np__dashboard .np__editProfile .edit-profile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.np__dashboard .np__editProfile .edit-profile__buttons button {
  background: linear-gradient(329.74deg, #16223b 18.42%, rgba(22, 34, 59, 0.86) 81.58%);
  border-radius: 2rem;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.np__dashboard .np__editProfile .edit-profile__buttons button:hover {
  background: linear-gradient(329.74deg, #202a3f 18.42%, rgba(52, 64, 91, 0.86) 81.58%);
}

.np__dashboard .np__editProfile .edit-profile__buttons .edit-profile__cancel {
  background: linear-gradient(329.74deg, rgba(139, 30, 30, 0.86) 18.42%, rgba(139, 59, 30, 0.86) 81.58%);
}

.np__dashboard .np__editProfile .edit-profile__buttons .edit-profile__cancel:hover {
  background: linear-gradient(329.74deg, rgba(138, 62, 62, 0.86) 18.42%, rgba(138, 85, 66, 0.86) 81.58%);
}

a {
  text-decoration: none;
  color: white;
}

.np__dashboard {
  background-color: #141b28;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15vw;
}

.np__dashboard .np-curProject {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.np__dashboard .np-curProject .devproject {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  margin: 0.5em 1em 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 1.5em;
}

.np__dashboard .np-curProject .devproject h3,
.np__dashboard .np-curProject .devproject h4 {
  color: #fca311;
}

.np__dashboard .np-curProject .devproject h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}

.np__dashboard .np-curProject .devproject h4 {
  text-transform: uppercase;
  padding-right: 1em;
}

.np__dashboard .np-curProject .devproject div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375em;
}

.np__dashboard .np-curProject .devproject .description-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.np__dashboard .np-curProject .devproject .goto-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.np__dashboard .np-curProject .devproject .goto-btn a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 1em;
  padding: 0.5em 2.5em;
  color: #ffffff;
  background-color: #fca311;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.np__dashboard .np-curProject .devproject .goto-btn a:hover, .np__dashboard .np-curProject .devproject .goto-btn a:focus {
  background-color: #eae8fd;
  color: #16223b;
}

.np__dashboard .np-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.np__dashboard .np-dash .np-devnav {
  display: none;
}

.np__dashboard .np-dash .np-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.np__dashboard .np-dash .np-profile .np__profileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.np__dashboard .np-dash .np-profile .np__profileInfo img {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 5em;
  height: 5em;
}

.np__dashboard .np-dash .np-profile .np__profileInfo .np__username {
  font-weight: normal;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.np__dashboard .np-dash .np-profile .np__signout {
  margin-top: 1em;
  background-color: #fca311;
  text-transform: uppercase;
  color: #141b28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  padding: 0.5rem 0;
}

.np__dashboard .np-dash .np-profile .np-create-edit-mobile {
  display: none;
}

.np__dashboard .np-dash .np-dash-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.np__dashboard .np-dash .np-dash-option .np-devnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.np__dashboard .np-dash .np-dash-option .np-devnav a {
  margin-left: 2em;
  padding: 0.25rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom ease 0.5s;
  transition: border-bottom ease 0.5s;
}

.np__dashboard .np-dash .np-dash-option .np-devnav a:hover {
  border-bottom: 1px solid #ffffff;
}

.np__dashboard .np-dash .np-dash-option .np-create-edit a {
  margin-top: 1em;
  background-color: white;
  color: #141b28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  width: 23rem;
  padding: 0.4rem;
  text-transform: lowercase;
  cursor: pointer;
}

.np__dashboard .np-dash .np-dash-option .np-create-edit a:hover {
  background-color: #fca311;
}

.np-hamburger,
.np-sidebar {
  display: none;
}

@media screen and (max-width: 1242px) {
  .np__dashboard {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 900px) {
  .np__dashboard {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 800px) {
  .np__dashboard .np-dash {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15%;
  }
  .np__dashboard .np-dash .np-profile .np-profile-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .np__dashboard .np-dash .np-profile .np-create-edit-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .np__dashboard .np-dash .np-profile .np-create-edit-mobile a {
    background-color: white;
  }
  .np__dashboard .np-dash .np-devnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .np__dashboard .np-dash .np-devnav a span {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  .np__dashboard .np-dash .np-dash-option {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .np__dashboard .np-hamburger {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
    height: 2em;
    color: white;
    background-color: #141b28;
    border: none;
  }
  .np__dashboard .np-sidebar {
    display: none;
  }
  .np__dashboard .h-open {
    display: none;
  }
  .np__dashboard .s-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  .np__dashboard .s-open .c-open {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 1em;
    width: 1em;
    color: white;
    background-color: #141b28;
    border: none;
  }
  .np__dashboard .s-open .np-devnav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .np__dashboard .s-open .np-devnav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: solid white 1px;
  }
  .np__dashboard .s-open .np-devnav div a {
    margin-top: 2em;
  }
  .np__dashboard .s-open .np-devnav div a span {
    color: white;
    font-size: 1.5em;
  }
  .np__dashboard .np-dash .np-devnav {
    display: none;
  }
}
/*# sourceMappingURL=np.css.map */