@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.np-container {
  background-color: #141b28;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

.np-container .np-curProject {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.np-container .np-curProject .devproject {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  margin: 0.5em 1em 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 1.5em;
}

.np-container .np-curProject .devproject h3,
.np-container .np-curProject .devproject h4 {
  color: #fca311;
}

.np-container .np-curProject .devproject h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}

.np-container .np-curProject .devproject h4 {
  text-transform: uppercase;
  padding-right: 1em;
}

.np-container .np-curProject .devproject div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.375em;
}

.np-container .np-curProject .devproject .description-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.np-container .np-dash {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.np-container .np-dash .np-devnav {
  display: none;
}

.np-container .np-dash .np-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.np-container .np-dash .np-profile .np-profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.np-container .np-dash .np-profile .np-profile-image img {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 5em;
  height: 5em;
}

.np-container .np-dash .np-profile .np-profile-image .np-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2em;
}

.np-container .np-dash .np-profile .np-profile-image .np-user h1 {
  font-weight: normal;
  font-size: 1.8em;
}

.np-container .np-dash .np-profile .np-profile-image .np-user h3 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
}

.np-container .np-dash .np-profile .np-create-edit-mobile {
  display: none;
}

.np-container .np-dash .np-profile a {
  margin-top: 1em;
  background-color: #fca311;
  color: #141b28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
}

.np-container .np-dash .np-profile a span {
  padding: 0.25em;
  text-transform: lowercase;
}

.np-container .np-dash .np-dash-option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.np-container .np-dash .np-dash-option .np-devnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.np-container .np-dash .np-dash-option .np-devnav a {
  padding-left: 2em;
}

.np-container .np-dash .np-dash-option .np-devnav a span {
  font-size: 1.1em;
  text-transform: uppercase;
}

.np-container .np-dash .np-dash-option .np-create-edit a {
  margin-top: 1em;
  background-color: white;
  color: #141b28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  width: 20em;
}

.np-container .np-dash .np-dash-option .np-create-edit a span {
  padding: 0.25em;
  text-transform: lowercase;
}

.np-hamburger, .np-sidebar {
  display: none;
}

@media screen and (max-width: 1242px) {
  .np-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 900px) {
  .np-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 800px) {
  .np-container .np-dash {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15%;
  }
  .np-container .np-dash .np-profile .np-profile-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .np-container .np-dash .np-profile .np-create-edit-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .np-container .np-dash .np-profile .np-create-edit-mobile a {
    background-color: white;
  }
  .np-container .np-dash .np-devnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .np-container .np-dash .np-devnav a span {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  .np-container .np-dash .np-dash-option {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .np-container .np-hamburger {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
    height: 2em;
    color: white;
    background-color: #141b28;
    border: none;
  }
  .np-container .np-sidebar {
    display: none;
  }
  .np-container .h-open {
    display: none;
  }
  .np-container .s-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  .np-container .s-open .c-open {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 1em;
    width: 1em;
    color: white;
    background-color: #141b28;
    border: none;
  }
  .np-container .s-open .np-devnav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .np-container .s-open .np-devnav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: solid white 1px;
  }
  .np-container .s-open .np-devnav div a {
    margin-top: 2em;
  }
  .np-container .s-open .np-devnav div a span {
    color: white;
    font-size: 1.5em;
  }
  .np-container .np-dash .np-devnav {
    display: none;
  }
}
/*# sourceMappingURL=np.css.map */