@import "../../styles/global.scss";
@import "./createProject";
@import "./editProfile";

a {
	text-decoration: none;
	color: $white;
}

.np__dashboard {
	background-color: $darkBlue;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	color: $white;
	justify-content: center;
	padding: 0 15vw;

	.np-curProject {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.devproject {
			background: rgba(255, 255, 255, 0.4);
			border-radius: 1em;
			margin: 0.5em 1em 0.5em 0;
			display: flex;
			width: 19rem;
			flex-direction: column;
			padding: 2em 1.5em;

			h3,
			h4 {
				color: $yellow;
			}

			h3 {
				text-align: center;
				font-size: 1.5rem;
				padding-bottom: 0.5em;
			}

			h4 {
				text-transform: uppercase;
				padding-right: 1em;
			}

			div {
				display: flex;
				padding: 0.375em;
			}

			.description-div {
				display: flex;
				flex-direction: column;
				text-align: left;
			}

			.goto-btn {
				flex: 1;
				align-self: center;
				margin-top: 2em;

				display: flex;
				justify-content: end;
				align-items: flex-end;

				a {
					cursor: pointer;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 500;
					font-size: 0.875rem;
					border-radius: 1em;
					padding: 0.5em 2.5em;
					color: $secondaryclr;
					background-color: $yellow;
					box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
					transition: all ease 0.2s;

					&:hover,
					&:focus {
						background-color: $lightgrey;
						color: $primaryclr;
					}
				}
			}
		}
	}

	.np-dash {
		display: flex;
		justify-content: space-between;

		.np-devnav {
			display: none;
		}

		.np-profile {
			display: flex;
			flex-direction: column;

			.np__profileInfo {
				display: flex;

				img {
					background-color: $white;
					padding: 0.5em;
					border-radius: 50%;
					align-self: center;
					width: 5em;
					height: 5em;
				}

				.np__username {
					font-weight: normal;
					font-size: 1.5rem;
					margin-left: 1rem;
				}
			}

			.np__signout {
				margin-top: 1em;
				background-color: $yellow;
				text-transform: uppercase;
				color: $darkBlue;
				display: flex;
				justify-content: center;
				border-radius: 1em;
				padding: 0.5rem 0;
			}

			.np-create-edit-mobile {
				display: none;
			}
		}

		.np-dash-option {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.np-devnav {
				display: flex;
				justify-content: flex-end;

				a {
					margin-left: 2em;
					padding: 0.25rem;
					font-size: 1rem;
					text-transform: uppercase;
					border-bottom: 1px solid rgba(0, 0, 0, 0);
					transition: border-bottom ease 0.5s;

					&:hover {
						border-bottom: 1px solid $secondaryclr;
					}
				}
			}

			.np-create-edit {
				a {
					margin-top: 1em;
					background-color: $white;
					color: $darkBlue;
					display: flex;
					justify-content: center;
					border-radius: 1em;
					width: 23rem;
					padding: 0.4rem;
					text-transform: lowercase;
					cursor: pointer;

					&:hover {
						background-color: $yellow;
					}
				}
			}
		}
	}
}

.np-hamburger,
.np-sidebar {
	display: none;
}

@media screen and (max-width: 1242px) {
	.np__dashboard {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (max-width: 900px) {
	.np__dashboard {
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (max-width: 800px) {
	.np__dashboard {
		.np-dash {
			justify-content: center;
			margin-top: 15%;

			.np-profile {
				.np-profile-image {
					justify-content: center;
				}

				.np-create-edit-mobile {
					display: flex;
					flex-direction: column;
					a {
						background-color: $white;
					}
				}
			}

			.np-devnav {
				display: flex;
				position: absolute;
				top: 5%;
				left: 0;
				width: 100%;
				justify-content: space-around;

				a {
					span {
						font-size: 1.3em;
						text-transform: uppercase;
					}
				}
			}

			.np-dash-option {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.np__dashboard {
		.np-hamburger {
			display: inline;
			position: absolute;
			top: 1em;
			left: 1em;
			width: 2em;
			height: 2em;
			color: $white;
			background-color: $darkBlue;
			border: none;
		}

		.np-sidebar {
			display: none;
		}

		.h-open {
			display: none;
		}

		.s-open {
			display: flex;
			z-index: 1;

			.c-open {
				display: inline;
				position: absolute;
				top: 1em;
				left: 1em;
				height: 1em;
				width: 1em;
				color: $white;
				background-color: $darkBlue;
				border: none;
			}

			.np-devnav {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;

				div {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					padding-bottom: 1em;
					border-bottom: solid $white 1px;

					a {
						margin-top: 2em;

						span {
							color: $white;
							font-size: 1.5em;
						}
					}
				}
			}
		}

		.np-dash {
			.np-devnav {
				display: none;
			}
		}
	}
}
